doctype html
html(lang='en')
	head
		block head
		meta(charset='utf-8')
		title 
		link(href='//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css', rel='stylesheet')
	body
		if(success)
			h1 success
		else
			if(errors)
				each error, i in errors
					div.alert.alert-danger error #{i} : #{error.msg}
			div.container
				form(action='/welcome' method='post', class='form-vertical')
					div.form-group
						label Username
						input.form-control(type='text' name='username' placeholder='Ex: Kavita')
					div.form-group
						label Email
						input.form-control(type='text' name='email')
					div.form-group
						label Password
						input.form-control(type='password' name='password' placeholder='*******')
					div.form-group
						label Confirm Password
						input.form-control(type='password' name='confirmpassword' placeholder='*******')
					div.form-group
						input.btn.btn-primary(type='submit' value='Login')